body {
	font-family: serif;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bolder;
}



h1 {
	color: #00629f;
}

h2 {
	color: #00629f;
}

.button {
	max-width: 180px;
	padding: 6px 20px;
	background-color: #00629f;
	color: white;
	border-radius: 5px;
}


.blocs{
	
	margin-top:10%;
	margin-left:30%;
	margin-right:25%;
	
}

.txtbox {
	width: 75%;
	height:40vh;
}
